@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-header">
        ¿Cómo se usa?
    </div>
    <div class="card-body">
        Este sistema se utilizará para hacer solicitudes de trabajo (tickets) al Departamento de Sistemas de esta dirección.
        <br>
        La primera vez que inicie sesión, se le pedirá que proporcione sus datos para registrarse. Si lo desea, puede registrar su número de teléfono particular para que, en el futuro, se le notifique por WhatsApp cuando se resuelva su ticket.
        <br>
        A la hora de abrir un ticket nuevo, es recomendable redactar de manera clara y concisa la solicitud para poder atenderla de la manera más eficiente posible.
        <br>
        Una vez que haya abierto su ticket, podrá hacer un seguimiento del mismo en el menú "Ver mis tickets" (izquierda) y ver quién es el técnico asignado para resolverlo.
        <br>
        Cuando el ticket se haya resuelto, podrá ver la solución en el menú que aparece a la derecha de cada ticket para ver los detalles de la solución.
    </div>
</div>